In [1]:
# Initial imports
import pandas as pd
from pathlib import Path

In [8]:
file_path=("financing_healthcare/annual-healthcare-expenditure-per-capita.csv")
annual_expenditure=pd.read_csv(file_path)
annual_expenditure=annual_expenditure.dropna()
annual_expenditure.head()

,Entity,Code,Year,Indicator:Current health expenditure (CHE) per capita in PPP int$
0,Afghanistan,AFG,2002,81.27
1,Afghanistan,AFG,2003,82.46
2,Afghanistan,AFG,2004,89.47
3,Afghanistan,AFG,2005,100.71
4,Afghanistan,AFG,2006,113.75

In [9]:
file_path=("financing_healthcare/child-mortality-vs-health-expenditure.csv")
child_mortality=pd.read_csv(file_path)
child_mortality=child_mortality.dropna()
child_mortality.head()

,Entity,Code,Year,"Mortality rate, under-5 (per 1,000 live births)","Current health expenditure per capita, PPP (current international $)",Population (historical estimates),Continent
56,Afghanistan,AFG,2015,7.04,211.587296,34413603.0,Asia
557,Albania,ALB,2015,0.96,568.918396,2890524.0,Europe
834,Algeria,DZA,2015,2.52,838.510315,39728020.0,Africa
1182,Andorra,AND,2015,0.33,3096.173096,77993.0,Europe
1446,Angola,AGO,2015,8.81,191.201996,27884380.0,Africa

In [15]:
file_path=("financing_healthcare/healthcare-expenditure-vs-gdp.csv")
gdp=pd.read_csv(file_path)
## dropping continent as it has lots of Nan 
gdp=gdp.drop(["Continent"], axis=1)
gdp=gdp.dropna()
gdp.head()

,Entity,Code,Year,"Current health expenditure per capita, PPP (current international $)","GDP per capita, PPP (current international $)",Population (historical estimates)
1,Afghanistan,AFG,2002,81.271034,877.014282,22600774.0
2,Afghanistan,AFG,2003,82.457848,927.857544,23680871.0
3,Afghanistan,AFG,2004,89.470055,925.441406,24726689.0
4,Afghanistan,AFG,2005,100.706985,1023.051758,25654274.0
5,Afghanistan,AFG,2006,113.754105,1077.761597,26433058.0

In [16]:
file_path=("financing_healthcare/health-protection-coverage.csv")
coverage=pd.read_csv(file_path)
coverage=coverage.dropna()
coverage.head()

,Entity,Code,Year,Share of population covered by health insurance (ILO (2014))
0,Albania,ALB,2008,23.6
1,Algeria,DZA,2005,85.2
2,American Samoa,ASM,2009,3.0
3,Angola,AGO,2010,0.0
4,Antigua and Barbuda,ATG,2007,51.1

In [20]:
file_path=("financing_healthcare/how-much-we-think-we-spend-on-healthcare-vs-how-much-we-actually-do.csv")
how_much=pd.read_csv(file_path)
how_much=how_much.drop(["Continent"], axis=1)
how_much=how_much.dropna() # there is lots of Nan in this data
how_much.head()

,Entity,Code,Year,How much we actually spend on health expenditure (IPSOS (2016)),How much we think we spend on health expenditure (IPSOS (2016)),Population (historical estimates)
2051,Argentina,ARG,2016,5.0,17.0,43508459.0
2934,Australia,AUS,2016,10.0,21.0,24262710.0
5000,Belgium,BEL,2016,11.0,22.0,11354407.0
6958,Brazil,BRA,2016,8.0,25.0,206163056.0
8844,Canada,CAN,2016,10.0,28.0,36382942.0

In [23]:
file_path=("financing_healthcare/life-expectancy-vs-healthcare-expenditure.csv")
life_expectancy=pd.read_csv(file_path)
life_expectancy=life_expectancy.drop(["Continent"], axis=1)
life_expectancy=life_expectancy.dropna()
life_expectancy.head()

,Entity,Code,Year,"Life expectancy at birth, total (years)","Current health expenditure per capita, PPP (current international $)",Population (historical estimates)
43,Afghanistan,AFG,2002,56.784000,81.271034,22600774.0
44,Afghanistan,AFG,2003,57.271000,82.457848,23680871.0
45,Afghanistan,AFG,2004,57.771999,89.470055,24726689.0
46,Afghanistan,AFG,2005,58.290001,100.706985,25654274.0
47,Afghanistan,AFG,2006,58.826000,113.754105,26433058.0

In [25]:
file_path=("financing_healthcare/life-expectancy-vs-health-expenditure.csv")
life_expectancy2=pd.read_csv(file_path)
life_expectancy2=life_expectancy2.drop(["Continent"], axis=1)
life_expectancy2=life_expectancy2.dropna()
life_expectancy2.head()

,Entity,Code,Year,"Life expectancy at birth, total (years)",Health Expenditure and Financing (per capita) (OECDstat (2017)),Population (historical estimates)
2944,Australia,AUS,1970,71.018539,..,12793030.0
2945,Australia,AUS,1971,71.068291,982.3137,13033130.0
2946,Australia,AUS,1972,71.457558,989.9003,13244163.0
2947,Australia,AUS,1973,71.846832,1007.0003,13431790.0
2948,Australia,AUS,1974,72.236099,1138.423,13605574.0

In [28]:
file_path=("financing_healthcare/public-healthcare-spending-share-gdp.csv")
public_healthcare=pd.read_csv(file_path)
public_healthcare=public_healthcare.dropna()
public_healthcare.head()

,Entity,Code,Year,Domestic general government health expenditure (% of GDP)
0,Afghanistan,AFG,2002,0.084181
1,Afghanistan,AFG,2003,0.650963
2,Afghanistan,AFG,2004,0.542926
3,Afghanistan,AFG,2005,0.529184
4,Afghanistan,AFG,2006,0.497840

In [31]:
file_path=("financing_healthcare/public-health-expenditure-share-GDP-OWID.csv")
GDP_pc=pd.read_csv(file_path)
GDP_pc=GDP_pc.dropna()
GDP_pc.head()

    Entity Code  Year  public_health_expenditure_pc_gdp
0  Albania  ALB  2010                             2.442
1  Albania  ALB  2011                             2.387
2  Albania  ALB  2012                             2.474
3  Albania  ALB  2013                             2.605
4  Albania  ALB  2014                             2.617

In [33]:
file_path=("financing_healthcare/public-health-insurance-coverage.csv")
insurance_coverage=pd.read_csv(file_path)
insurance_coverage=insurance_coverage.dropna()
insurance_coverage.head()

    Entity Code  Year  Health Insurance Coverage (Tanzi & Schuknecht (2000))
0  Austria  AUT  1910                                                 24
1  Austria  AUT  1935                                                 49
2  Austria  AUT  1975                                                 88
3  Belgium  BEL  1910                                                 12
4  Belgium  BEL  1935                                                 31

In [34]:
file_path=("financing_healthcare/share-of-out-of-pocket-expenditure-on-healthcare.csv")
expenditure=pd.read_csv(file_path)
expenditure=expenditure.dropna()
expenditure.head()

,Entity,Code,Year,Out-of-pocket expenditure (% of current health expenditure)
0,Afghanistan,AFG,2002,85.375610
1,Afghanistan,AFG,2003,86.069191
2,Afghanistan,AFG,2004,84.527596
3,Afghanistan,AFG,2005,78.970085
4,Afghanistan,AFG,2006,76.824974

In [38]:
file_path=("financing_healthcare/share-of-out-of-pocket-expenditure-vs-gdp-per-capita.csv")
gdp_capita=pd.read_csv(file_path)
#dropping continent as there is lots of Nan info in it
gdp_capita=gdp_capita.drop(["Continent"], axis=1)
gdp_capita=gdp_capita.dropna()
gdp_capita.head()

,Entity,Code,Year,Out-of-pocket expenditure (% of current health expenditure),"GDP per capita, PPP (constant 2017 international $)",Population (historical estimates)
1,Afghanistan,AFG,2002,85.375610,1189.784668,22600774.0
2,Afghanistan,AFG,2003,86.069191,1235.810059,23680871.0
3,Afghanistan,AFG,2004,84.527596,1200.277954,24726689.0
4,Afghanistan,AFG,2005,78.970085,1286.793701,25654274.0
5,Afghanistan,AFG,2006,76.824974,1315.789062,26433058.0

In [36]:
file_path=("financing_healthcare/share-of-public-expenditure-on-healthcare-by-country.csv")
public_expenditure=pd.read_csv(file_path)
public_expenditure=public_expenditure.dropna()
public_expenditure.head()

,Entity,Code,Year,Domestic general government health expenditure (% of current health expenditure)
0,Afghanistan,AFG,2002,0.891424
1,Afghanistan,AFG,2003,7.280444
2,Afghanistan,AFG,2004,5.535272
3,Afghanistan,AFG,2005,5.319348
4,Afghanistan,AFG,2006,4.686539

In [40]:
file_path=("financing_healthcare/tax-revenue-per-capita-and-public-health-spending-per-capita-in-developing-countries-in.csv")
tax=pd.read_csv(file_path)
#tax=tax.dropna() # Nan everywhere in this file
tax.head()

,Entity,Code,Year,Tax revenues per capita in developing countries (PPP) (World Bank (WDI) (2017)),Public expenditure on health per capita in developing countries (PPP) (World Bank (WDI) (2017)),Continent,Population (historical estimates)
0,Abkhazia,OWID_ABK,2015,NaN,NaN,Asia,NaN
1,Afghanistan,AFG,2014,NaN,56.969844,NaN,33370803.0
2,Afghanistan,AFG,2015,NaN,NaN,Asia,34413603.0
3,Afghanistan,AFG,-10000,NaN,NaN,NaN,14737.0
4,Afghanistan,AFG,-9000,NaN,NaN,NaN,20405.0

In [41]:
file_path=("financing_healthcare/total-healthcare-expenditure-gdp.csv")
total=pd.read_csv(file_path)
total=total.dropna()
total.head()

,Entity,Code,Year,Indicator:Current health expenditure (CHE) as percentage of gross domestic product (GDP) (%)
0,Afghanistan,AFG,2002,9.44
1,Afghanistan,AFG,2003,8.94
2,Afghanistan,AFG,2004,9.81
3,Afghanistan,AFG,2005,9.95
4,Afghanistan,AFG,2006,10.62